@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Spectral+SC:wght@400;600&display=swap');

/* font-family: 'Merriweather', serif;
font-family: 'Spectral SC', serif; */
:root {
	--brown: rgb(139, 69, 19);
	--tan: rgb(255, 228, 205);
	--orange: #f39c12;
	--black: rgb(0, 0, 0);
	--grey: rbg(0, 0, 0, 0.2);
	--background: rgb(238, 237, 237);
}

body {
	background: var(--background);
	color: #414141;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	overflow-x: hidden;
	/* overflow-y: hidden; hiding vertical scroll bar */
	-webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
	-webkit-font-smoothing: antialiased !important;
}

a {
	text-decoration: none;
	-ms-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

a:hover,
a:focus,
a:active {
	outline: medium none;
	text-decoration: none;
}

*:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

strong,
b {
	font-weight: 700;
}

i,
em {
	font-style: italic;
}

.clear {
	border: 0;
	clear: both;
	height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
}

input,
textarea {
	-webkit-appearance: none;
	border-radius: 0;
}

html,
body {
	height: 100%;
}

/**** ABOUT ****/
.bg-color {
	background: var(--orange);
}

section {
	padding: 80px 0;
	position: relative;
	text-align: center;
	margin: 20px 0;
	height: 100%;
}

.about-section {
	padding: 45px 0;
}

.about-section h3 {
	font-size: 36px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--black);
	letter-spacing: 0.05em;
}

.about-section h3:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	margin: 20px auto 0;
	background: var(--black);
}

.about-section p {
	font-size: 18px;
	line-height: 1.8;
	color: var(--black);
}

.btn-default-new {
	background: #c34d34;
	border-radius: 30px;
	border: solid 3px #c34d34;
	color: #ffffff;
	font-size: 18px;
	text-transform: capitalize;
	font-family: 'Merriweather', serif;
	padding: 0 15px;
	line-height: 3.1;
	margin-top: 30px;
	letter-spacing: 0.05em;
	-ms-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.btn-default-new:hover,
.btn-default-new:focus {
	background: #fff;
	color: #c34d34;
	border-color: #c34d34;
}
/**** ABOUT END ****/
/**** TEAM ****/
.bg-color {
	background: var(--orange);
}

.team-section {
	padding: 80px 0;
	position: relative;
	text-align: left;
	margin: 20px 0;
	height: 100%;
	overflow-y: scroll;
}

.team-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-top: 50px;
}

.team-section img {
	display: inline;
	height: 100px;
	width: 80px;
}

.team-section h3 {
	font-size: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-align: center;
	color: var(--black);
	letter-spacing: 0.05em;
	width: 100%;
}

.team-section h3:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	margin: 20px auto 0;
	background: var(--black);
}

.team-section p {
	font-size: 18px;
	line-height: 1.8;
	color: var(--black);
}

/**** TEAM END ****/
/**** SERVICE ****/

.service-section h3 {
	font-size: 36px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #222;
	letter-spacing: 0.05em;
}

.service-section h3:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	margin: 20px auto 0;
	background: var(--orange);
}

.service-items .icon {
	color: var(--orange);
	font-size: 36px;
	display: block;
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 100%;
	border: solid 2px var(--orange);
	margin: 0 auto 30px;
	line-height: 98px;
}

.service-items .glyphicon {
	line-height: 2.5;
}

.service-items h4 {
	font-size: 22px;
	margin-bottom: 20px;
	text-transform: capitalize;
	color: var(--orange);
}

.service-items h4 a {
	color: #222;
}

.service-items h4 a:hover {
	color: var(--orange);
}

.service-items p {
	font-size: 16px;
	line-height: 1.6;
	color: #414141;
	margin-bottom: 15px;
}

/**** SERVICE END ****/
/**** GALLERY ****/

.gallery-section {
	padding: 0;
	overflow-y: scroll;
}

.gallery-section .gallery-section-inner {
	display: table;
	table-layout: fixed;
	width: 100%;
	max-width: 2000px;
}

.gallery-section-inner .gallery-section-row {
	display: table-row;
	width: 100%;
}

.gallery-section-inner .gallery-section-data {
	display: table-cell;
	width: 33.33%;
	vertical-align: middle;
	height: 420px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.gallery-section-inner .gallery-section-data .gallery-section-text {
	position: absolute;
	top: 150%;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	margin: auto;
	-ms-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.gallery-section-inner .gallery-section-data:hover .gallery-section-text {
	top: 0;
}

.gallery-section-text .gallery-section-text-inner {
	position: absolute;
	top: 50%;
	right: 20px;
	left: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.gallery-section-text p {
	font-size: 28px;
	line-height: 1.6;
	color: #fff;
}

.gallery-section-text a {
	color: var(--orange);
	font-size: 14px;
}

.gallery-section-text a:hover {
	color: #fff;
}

.gallery1 {
	background-image: url('./images/projects/photo1.jpg');
}

.gallery2 {
	background-image: url('./images/projects/photo2.jpg');
}

.gallery3 {
	background-image: url('./images/projects/photo3.jpg');
}

.gallery4 {
	background-image: url('./images/projects/photo4.jpg');
}

/**** GALLERY ****/
/**** FOOTER ****/

footer {
	/* background: #222; */
	padding: 80px 0;
	position: relative;
	text-align: center;
	height: 100%;
}

footer h3 {
	font-size: 36px;
	margin-bottom: 30px;
	text-transform: capitalize;
	color: var(--black);
	letter-spacing: 0.05em;
}

footer h3:after {
	content: '';
	display: block;
	width: 80px;
	height: 3px;
	margin: 20px auto 0;
	background: var(--orange);
}

footer p {
	font-size: 18px;
	line-height: 1.6;
	color: var(--black);
}

.gap {
	display: block;
	margin-top: 50px;
}

footer span.glyphicon {
	color: var(--black);
	font-size: 28px;
	display: block;
	margin: 0 auto 30px;
}

footer a {
	color: var(--black);
}

footer a:hover {
	color: var(--orange);
}

iframe {
	margin: 20px;
	border: var(--black);
	border-radius: 2px;
}

/*----------------------------*\
      Coverflow Album Slider 
\*-----------------------------*/
.coverflow {
	position: relative;
	height: 460px;
	padding: 30px;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}

.coverflow__image {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 400px;
	height: 400px;
	-webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
	position: absolute;
	left: 50%;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
	content: ' ';
	z-index: 1;
	position: absolute;
	top: 300px;
	width: 100%;
	height: 10%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 5;
	-webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
	transform: translateX(370px) scale(0.05) rotateY(-45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 4;
	-webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 3;
	-webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 2;
	-webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
	transform: translateX(640px) scale(-0.4) rotateY(-45deg);
	opacity: -0.66667;
}

.coverflow[data-coverflow-position='1']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 1;
	-webkit-transform: translateX(730px) scale(-0.55) rotateY(-45deg);
	transform: translateX(730px) scale(-0.55) rotateY(-45deg);
	opacity: -0.83333;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 5;
	-webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
	transform: translateX(370px) scale(0.05) rotateY(-45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 4;
	-webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 3;
	-webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='2']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 2;
	-webkit-transform: translateX(640px) scale(-0.4) rotateY(-45deg);
	transform: translateX(640px) scale(-0.4) rotateY(-45deg);
	opacity: -0.66667;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 5;
	-webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
	transform: translateX(370px) scale(0.05) rotateY(-45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 4;
	-webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='3']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 3;
	-webkit-transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	transform: translateX(550px) scale(-0.25) rotateY(-45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 5;
	-webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
	transform: translateX(370px) scale(0.05) rotateY(-45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='4']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 4;
	-webkit-transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	transform: translateX(460px) scale(-0.1) rotateY(-45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='5']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 5;
	-webkit-transform: translateX(370px) scale(0.05) rotateY(-45deg);
	transform: translateX(370px) scale(0.05) rotateY(-45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 5;
	-webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
	transform: translateX(-770px) scale(0.05) rotateY(45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='6']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 6;
	-webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
	transform: translateX(280px) scale(0.2) rotateY(-45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 4;
	-webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 5;
	-webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
	transform: translateX(-770px) scale(0.05) rotateY(45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='7']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 7;
	-webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
	transform: translateX(190px) scale(0.35) rotateY(-45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 3;
	-webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 4;
	-webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 5;
	-webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
	transform: translateX(-770px) scale(0.05) rotateY(45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='8']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 8;
	-webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
	transform: translateX(100px) scale(0.5) rotateY(-45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 2;
	-webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
	transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
	opacity: -0.66667;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 3;
	-webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 4;
	-webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 5;
	-webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
	transform: translateX(-770px) scale(0.05) rotateY(45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position='9']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 9;
	-webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
	transform: translateX(10px) scale(0.65) rotateY(-45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='1'] {
	z-index: 1;
	-webkit-transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
	transform: translateX(-1130px) scale(-0.55) rotateY(45deg);
	opacity: -0.83333;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='2'] {
	z-index: 2;
	-webkit-transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
	transform: translateX(-1040px) scale(-0.4) rotateY(45deg);
	opacity: -0.66667;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='3'] {
	z-index: 3;
	-webkit-transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	transform: translateX(-950px) scale(-0.25) rotateY(45deg);
	opacity: -0.5;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='4'] {
	z-index: 4;
	-webkit-transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	transform: translateX(-860px) scale(-0.1) rotateY(45deg);
	opacity: -0.33333;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='5'] {
	z-index: 5;
	-webkit-transform: translateX(-770px) scale(0.05) rotateY(45deg);
	transform: translateX(-770px) scale(0.05) rotateY(45deg);
	opacity: -0.16667;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='6'] {
	z-index: 6;
	-webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
	transform: translateX(-680px) scale(0.2) rotateY(45deg);
	opacity: 0;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='7'] {
	z-index: 7;
	-webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
	transform: translateX(-590px) scale(0.35) rotateY(45deg);
	opacity: 0.16667;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='8'] {
	z-index: 8;
	-webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
	transform: translateX(-500px) scale(0.5) rotateY(45deg);
	opacity: 0.33333;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='9'] {
	z-index: 9;
	-webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
	transform: translateX(-410px) scale(0.65) rotateY(45deg);
	opacity: 0.5;
}

.coverflow[data-coverflow-position='10']
	.coverflow__image[data-coverflow-index='10'] {
	z-index: 10;
	-webkit-transform: translateX(-200px);
	transform: translateX(-200px);
	box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.prev-arrow,
.next-arrow {
	cursor: pointer;
	z-index: 10;
	position: absolute;
	top: 50%;
	padding: 1.5rem 2rem;
	color: var(--black);
	font-size: 3rem;
	line-height: 3rem;
	background: transparent;
	border-radius: 1rem;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: color 200ms, background 200ms;
	transition: color 200ms, background 200ms;
}

.prev-arrow:hover,
.next-arrow:hover,
.prev-arrow:focus,
.next-arrow:focus {
	color: rgba(243, 156, 18, 0.5);
}

.prev-arrow {
	left: 0%;
}

.prev-arrow:before {
	content: '❮';
}

.next-arrow {
	right: 0%;
}

.next-arrow:after {
	content: '❯';
}
